.headerLogo {
  position: relative;
  z-index: $z-nav-shield;
  transition: transform 0.4s ease;
  min-height: 43px;
  min-width: 33px;
  max-width: 66px;
  max-height: 86px;
  display: block;

  @include hover {
    transform: scale(1.05);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__shieldBg {
    transition: fill 0.4s ease;
    fill: var(--color-bg-inverted);

    html[data-is-menu-open='true'] & {
      fill: var(--color-white);
    }
  }

  &__shieldFg {
    transition: fill 0.4s ease;
    fill: var(--color-fg-inverted);

    html[data-is-menu-open='true'] & {
      fill: var(--color-black);
    }
  }
}
