.spacer {
  display: block;
  flex-shrink: 0;

  &[data-direction='vertical'] {
    width: 100%;
  }

  &[data-direction='horizontal'] {
    display: inline-block;
  }

  &[data-debug='true'] {
    border: 1px solid red;
  }
}
