.caseHero {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  height: fit-content;
  min-height: 47vh;
  transform: translate3d(0px, 0px, 0px);

  @include mq($until: desktop-small) {
    max-height: 100svh;
  }

  @include mq($from: desktop-small) {
    min-height: 100vh;
  }

  img {
    object-fit: cover;
    min-height: 47vh;
  }

  &__some {
    width: 100%;
    height: 100%;
    min-height: 47vh;

    @include mq($from: desktop-small) {
      min-height: 100vh;
    }

    img {
      @include mq($until: desktop-small) {
        position: relative !important;
      }
      display: block !important;
      height: 100% !important;
      width: 100% !important;
      object-fit: cover !important;
    }
  }

  video {
    min-height: 47vh !important;

    @include mq($from: desktop-small) {
      height: 100vh !important;
    }
  }

  &__description {
    position: absolute;
    z-index: 1;
    // bottom: 20px;
    // left: 20px;
    bottom: 0;
    padding: 0 20px 20px 20px;
    width: 100%;
    color: red;
  }
}
