.caseArchive {
  position: relative;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;

  @include notch(var(--color-white));

  &__title {
    @include Heading1;
    font-family: 'FKDisplay';
  }

  &__fetchMoreTrigger {
    height: 1px;
    width: 100%;
    opacity: 0;
  }

  &__header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq($from: tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    & > * {
      flex-shrink: 0;
    }
  }

  &__filtersContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    position: sticky;
    top: 85px;
    z-index: 10;
    // border: 1px solid red;
    --case-archive-title-size: 44px;
    --margin-top: 0px;

    @include mq($from: tablet) {
      justify-content: flex-end;
      --margin-top: calc(var(--filters-container-height) * -1 - var(--case-archive-title-size) * 0.2);
      margin-top: var(--margin-top);
      margin-bottom: calc(var(--margin-top) * -1);
    }

    @include mq($from: desktop) {
      --margin-top: calc(var(--filters-container-height) * -1 - var(--case-archive-title-size) * 0.15);
    }

    @include mq($from: desktop) {
      --case-archive-title-size: calc(44px + 178 * ((100vw - 850px) / 1714));
    }
  }

  &__filtersList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: white;
    // border: 1px solid red;
    // border-radius: 50px;
    // padding: 0 10px;

    &[data-is-sticky='true'] {
      background: var(--color-black-25);
    }

    & > * {
      margin-right: 10px;
    }

    & > *:last-child {
      margin-right: 0;
    }
  }

  &__filtersListItem {
    text-transform: capitalize;
    &[data-active='false'] {
      text-decoration: underline;
    }
  }

  &__filtersDropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 56px;

    & > * {
      user-select: none;
    }
  }

  &__filtersDropdownItem {
    margin-top: 8px;
  }

  &__fetchMoreButton {
    display: block;
    @include BodyRegular;
    background: none;
    border: none;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    @include mq($from: tablet) {
      margin-top: 80px;
    }

    @include hover {
      color: var(--color-black-50);
    }
  }
}

div.caseArchive__cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-black-25);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &[data-active='true'] {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.caseArchiveItem {
  display: flex;
  width: 100%;

  &__year {
    width: 60px;
    margin-right: var(--grid-gap);

    @include mq($from: tablet) {
      width: grid-columns(1);
      min-width: 100px;
    }
  }

  &__projectInfo {
    display: flex;
    width: 100%;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  &__projectTitle {
    margin-right: var(--grid-gap);

    @include mq($from: tablet) {
      width: grid-columns(6);
    }
  }

  &__vertical {
    text-transform: capitalize;
    color: var(--color-black-60);

    @include mq($from: tablet) {
      color: inherit;
    }
  }

  &__link {
    margin-left: auto;
  }
}
