@import 'styles/mixins/notch.scss';

.caseArchive {
  position: relative;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;

  @include notch(var(--color-white));

  &__title {
    margin-bottom: 40px;
  }

  &__fetchMoreTrigger {
    height: 1px;
    width: 100%;
    opacity: 0;
  }
}

.caseArchiveItem {
  display: flex;
  width: 100%;

  &__year {
    width: 120px;
  }

  &__projectTitle {
    width: calc(50% - 120px);
  }

  &__link {
    margin-left: auto;
  }
}
