.list {
  --_list-color: var(--list-color, black);

  li {
    padding: 14px 0;
    position: relative;
    width: 100%;
    color: var(--_list-color);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: var(--_list-color);
    }

    &:last-child:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--_list-color);
    }
  }

  &[data-no-bottom-bar='true'] {
    li:last-child {
      &:last-child:after {
        visibility: hidden;
      }
    }
  }
}
