.caseListItem {
  &__thumbnailContainer {
    border-radius: 8px;
    overflow: hidden;
  }

  &__thumbnail {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  &__content {
    margin-top: 16px;

    & > *:first-child {
      margin-bottom: 8px;
    }
  }

  &__client {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-white);
    @include BodyRegular;
  }

  &__projectTitle {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-white-60);
    @include BodyRegular;
  }
}
