.caseListItem {
  $block: &;

  &__thumbnailContainer {
    position: relative;
  }

  &__thumbnailBox {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s var(--ease-out-quad);

    @media (hover: hover) {
      #{$block}:hover & {
        transform: scale(0.95);
      }
    }
  }

  &__thumbnail {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  &__thumbnailBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(90px);
    opacity: 0;
    transition: opacity 0.6s var(--ease-out-quad);

    @media (hover: hover) {
      #{$block}:hover & {
        opacity: 0.6;
      }
    }
  }

  &__content {
    margin-top: 16px;

    & > *:first-child {
      margin-bottom: 8px;
    }
  }

  &__client {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-white);
    @include BodyRegular;
  }

  &__projectTitle {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-white-60);
    @include BodyRegular;
  }
}
