.imageMarquee {
  width: 100%;
  position: relative;
  //   height: 300vh;
  background-color: var(--color-white);
  @include notch(var(--color-white));

  @include mq($from: tablet) {
    padding: 80px 0;
  }

  &__stickyContainer {
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  &__row {
    display: flex;
    height: 140px;
    margin-top: 20px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: fit-content;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(2) {
      transform: translateX(calc(-50% + (-1 * 50px)));
    }
  }

  &__item {
    position: relative;
    width: 40vw;

    @include mq($from: tablet) {
      width: 20vw;
    }
  }

  &__debug {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: red;
  }

  &__image {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    margin: 0 auto;
    opacity: 1;
    transition: all 0.25s ease-in-out;

    &[data-revealed='false'] {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }

    &[data-revealed='true'] {
      transition: all 0.35s ease-in-out;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
