.fourImageLayout {
  width: 100%;
  border: 2px solid brown;
  height: auto;
  background-color: white;

  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px;

  height: 1000px;
  //   height: fit-content;

  &__left {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    width: 50%;

    justify-content: center;
    align-items: flex-end;

    &__mediaContainer {
      position: relative;
      width: 50%;
      height: 50%;

      &:first-child {
        width: 571px;
        align-self: flex-start;
      }

      &:last-child {
        width: 452px;
      }
    }

    // &__mediaContainer {
    //   position: relative;
    //   width: 50%;
    //   height: 50%;
    //   overflow: hidden;
    //   bottom: 0;

    //   &:first-child {
    //     width: 571px;
    //     // border: 2px solid red;
    //     // margin-bottom: 85px;
    //   }

    //   &:last-child {
    //     width: 452px;
    //     // width: 217px;
    //   }
    // }
  }

  &__right {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    width: 50%;
    // height: 100%;

    justify-content: center;
    align-items: flex-end;

    &__mediaContainer {
      position: relative;
      width: 50%;
      height: 50%;
      display: flex;
      align-items: flex-end;

      &:first-child {
        margin: 50px 0;
        width: 452px;
      }

      &:last-child {
        width: 217px;
      }

      //   &:last-child {
      //     margin-top: 50px;
      //   }
    }
    //   overflow: hidden;

    //   &:first-child {
    //     border: 2px solid red;
    //     // margin: 85px 0;
    //     // width: 452px;
    //   }

    //   &:last-child {
    //     // width: 217px;
    //     // padding-top: 75px;
    //   }
    // }

    // &__inner {
    //   position: absolute;
    // }

    //   &:nth-child(1) {
    //     border: 2px solid blue;
    //   }
    //   &:nth-child(2) {
    //     border: 2px solid green;
    //   }
    // &:last-child {
    //   border: 2px solid orange;
    //
    // }
  }

  &__aspectRatioLeft {
    // border: 2px solid red;
    width: 100%;
  }

  &__aspectRatioRight {
    // border: 2px solid red;
    width: 100%;
  }

  &__media {
    object-fit: cover;
  }
}
