.contentWrapper {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  position: relative;

  &--fullscreen {
    padding: 0;
    max-width: none;
  }

  &[data-debug='true'] {
    border: 1px solid red;
  }
}
