.contentWrapper {
  width: 100%;
  padding: 0 var(--page-margin);
  margin: 0 auto;
  position: relative;

  &--fullscreen {
    padding: 0;
    max-width: none;
  }

  &[data-debug='true'] {
    border: 2px solid white;
  }
}
