.officeListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;

  margin-bottom: 130px;

  @include mq($until: tablet) {
    flex-direction: column;
    margin-bottom: 64px;
  }

  &__officeName {
    @include Heading1;
    width: 50%;
    align-self: flex-start;

    @include mq($until: tablet) {
      width: 100%;
    }
  }

  &__addressContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include mq($until: tablet) {
      width: 100%;
      margin-top: 24px;
    }
  }

  &__directionsLink {
    position: relative;
    @include text-underline-hover(var(--color-black));
    @include mq($until: tablet) {
      margin-top: 24px;
    }
  }
}
