.main {
  --main-height: 100svh;
  overflow-x: hidden;
  width: 100%;
  height: var(--main-height, 100vh);
  scroll-behavior: auto;
}

.content {
  position: relative;
  z-index: $z-main;
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
  border-radius: 0px 0px 12px 12px;
}

.footer-spacer {
  height: var(--footer-height);
  width: 100%;
  pointer-events: none;
}
