.jobListItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &__topRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    @include mq($until: tablet) {
      flex-wrap: wrap;
    }
  }

  &__title {
    width: 50%;
  }

  &__location {
    @include mq($until: tablet) {
      order: 3;
      width: 100%;
      opacity: 0.6;
    }
  }

  &__applyLink {
    margin-left: auto;
  }

  &__applyCaption {
    display: inline-block;

    @include mq($until: tablet) {
      display: none;
    }
  }

  &__descriptionContainer {
    width: 50%;
    margin-left: auto;
  }

  &__description {
    opacity: 0.6;
    max-width: 675px;
  }
}
