@mixin abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Flexbox: center items both vertically and horizontally
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if ($direction == 'column') {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      @content;
    }
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin focus {
  &:focus {
    @content;
  }
}

@mixin no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
