.description {
  @include flex-center($direction: row);
  //   height: 250px;
  width: 100%;
  align-items: flex-start;

  margin: 0;
  padding: 80px 0;
  // background-color: white;

  @include mq($until: tablet) {
    @include flex-center($direction: column);
  }

  &__left {
    width: 50%;
    height: 100%;
    // background-color: red;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include mq($until: tablet) {
      width: 100%;
    }

    h2 {
      color: #000000;
      &[data-size='large'] {
        font-family: 'FKGroteskNeue-Regular';
        font-style: normal;
        font-weight: 400;
        @include fluid-type(375px, 1440px, 64px, 124px);
        line-height: 100%;
        letter-spacing: -0.05em;
      }

      &[data-size='small'] {
        font-family: 'FKGroteskNeue-Regular';
        font-style: normal;
        font-weight: 400;
        @include fluid-type(375px, 1440px, 16px, 28px);
        line-height: 100%;
        letter-spacing: -0.05em;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include mq($until: tablet) {
      margin-top: 24px;
      width: 100%;
    }

    p {
      margin: 0;
      padding: 0;
      font-family: 'FKGroteskNeue-Regular';
      font-style: normal;
      max-width: 700px;
      font-weight: 400;
      @include fluid-type(375px, 1440px, 18px, 28px);
      line-height: 32px;
      letter-spacing: -0.01em;
      color: #000000;
    }

    a {
      text-decoration: none;
      margin-top: 40px;
      font-family: 'FKGroteskNeue-Regular';
      font-style: normal;
      font-weight: 400;
      @include fluid-type(375px, 1440px, 18px, 28px);
      line-height: 32px;
      /* identical to box height, or 114% */

      letter-spacing: -0.01em;

      /* Black / 100% */

      color: #000000;
    }
  }
}
