// TODO #1 put z-index into a variable

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 24px;

  &[data-is-scrolling-down='false'] {
    html[data-theme='dark'] & {
      background-color: transparent;
      border-bottom-color: transparent;
      // border-bottom: 1px solid none;
    }

    html[data-theme='light'] & {
      background-color: var(--color-bg);
      border-bottom: 1px solid var(--color-bg-inverted);
    }
  }

  @include mq($until: tablet) {
    padding: 16px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  pointer-events: none;

  & > * {
    pointer-events: auto;
  }

  transition: background-color 0.3s var(--ease-in-out-cubic), opacity 0.4s var(--ease-in-out-cubic),
    transform 0.4s var(--ease-in-out-cubic) 0.1s;

  &[data-is-scrolling-down='true'] {
    pointer-events: none;
    transform: translateY(-100%);
    opacity: 0;
  }
}
