.contactListItem {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 32px;

  @include mq($until: tablet) {
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__header {
    width: 50%;

    @include mq($until: tablet) {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  &__contactsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include mq($until: tablet) {
      width: 100%;
    }
  }

  &__link {
    position: relative;
    @include text-underline-hover(var(--color-white));
  }
}
