.playButton {
  --size: 88px;

  @include mq($until: tablet) {
    --size: 56px;
  }

  pointer-events: auto;
  background: white;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: none;
  z-index: 1;
  transition: transform var(--transition-duration-medium) var(--ease-standard);

  @include hover {
    transform: scale(1.1);
  }

  @include active {
    transform: scale(0.93);
  }
}
