.playButton {
  pointer-events: auto;
  background: white;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: none;
  z-index: 1;
  transition: transform var(--transition-duration-medium) var(--ease-standard);

  @include mq($from: tablet) {
    height: 88px;
    width: 88px;
  }

  @include hover {
    transform: scale(1.1);
  }

  @include active {
    transform: scale(0.93);
  }
}
