.loadMore {
  position: relative;
  padding: 20px 0 100px 0;

  @include mq($from: tablet) {
    padding: 80px 0 120px 0;
  }

  button {
    display: block;
    @include BodyRegular;
    background: none;
    border: none;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;

    --color-text: var(--color-black);
    --color-hover: var(--color-black-60);

    color: var(--color-text);

    &[data-theme='light'] {
      --color-text: var(--color-black);
      --color-hover: var(--color-black-60);
    }

    &[data-theme='dark'] {
      --color-text: var(--color-white);
      --color-hover: var(--color-white-60);
    }

    @include hover {
      color: var(--color-hover);
    }
  }
}
