.mediaGridItem {
  width: 25%;
  --offset: 0%;
  --maxHeight: 0;

  &[data-offset='25%'] {
    --offset: 0.25;
  }

  &[data-offset='50%'] {
    --offset: 0.5;
  }

  @include mq($until: tablet) {
    --offset: 0% !important;
  }

  padding-top: calc(var(--offset) * var(--maxHeight));
  margin: 0 10px;

  @include mq($until: tablet) {
    width: 75%;
    display: inline-block;
    scroll-snap-align: start;

    &[data-isempty='true'] {
      display: none;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;

    @include mq($until: tablet) {
      margin-right: 25%;
    }
  }

  video,
  img {
    width: 100%;
    height: var(--maxHeight);
    max-height: 67vh;
    // min-height: 100%;
    object-fit: cover;
  }
}
