@import 'styles/variables.scss';

.footer {
  &[data-theme='dark'] {
    --_footer-color-bg: var(--color-black);
    --_footer-color-fg: var(--color-white);
  }

  &[data-theme='light'] {
    --_footer-color-bg: var(--color-white);
    --_footer-color-fg: var(--color-black);
  }

  $block: &;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--_footer-color-bg);
  color: var(--_footer-color-fg);
  transition: background-color 0.3s, color 0.3s;
  z-index: $z-footer;
  padding: 92px 20px 56px 20px;
  pointer-events: none;

  @include mq($from: tablet) {
    padding: 52px 20px 24px 20px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__svg {
    width: 100%;

    path {
      fill: var(--_footer-color-fg);
    }
  }

  &__content {
    font-family: monospace;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 175%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: grid;
    grid-gap: 20px;
    pointer-events: auto;
    grid-template-columns: repeat(4, 1fr);

    @include mq($from: desktop-small) {
      grid-template-columns: repeat(12, 1fr);
    }

    #{$block}[data-theme='dark'] & {
      color: var(--color-white-60);
    }

    #{$block}[data-theme='light'] & {
      color: var(--color-black-50);
    }
  }

  &__noa {
    grid-column: 1 / span 2;
  }

  &__links {
    display: flex;
    flex-direction: column;
    grid-column: 3 / span 2;

    @include mq($from: desktop-small) {
      grid-column: 4 / span 2;
    }
  }
}
