.footer {
  &[data-theme='dark'] {
    --_footer-color-bg: var(--color-black);
    --_footer-color-fg: var(--color-white);
    --_footer-color-fg-60: var(--color-white-60);
  }

  &[data-theme='light'] {
    --_footer-color-bg: var(--color-white);
    --_footer-color-fg: var(--color-black);
    --_footer-color-fg-60: var(--color-black-60);
  }

  $block: &;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--_footer-color-bg);
  color: var(--_footer-color-fg);
  transition: background-color 0.3s, color 0.3s;
  z-index: $z-footer;
  padding: 92px 20px 56px 20px;
  pointer-events: none;

  @include mq($from: tablet) {
    padding: 52px 20px 24px 20px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__svg {
    width: 100%;

    path {
      fill: var(--_footer-color-fg);
    }
  }

  &__wordmarkContainer {
    position: relative;
    width: 100%;
    height: auto;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: auto;
    @include BodyRegular;
    color: var(--_footer-color-fg-60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mq($until: tablet) {
      position: relative;
      flex-direction: row-reverse;
    }

    #{$block}[data-theme='dark'] & {
      color: var(--color-white-60);
    }

    #{$block}[data-theme='light'] & {
      color: var(--color-black-50);
    }
  }

  &__scrollTopCta {
    @include BodyRegular;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--_footer-color-fg-60);
  }
}
