.closeButton {
  --size: 48px;

  @include mq($until: tablet) {
    --size: 40px;
  }

  width: var(--size);
  height: var(--size);
  overflow: hidden;
  border-radius: 50%;
  background: white;
  color: var(--color-black);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-duration-medium) var(--ease-standard);

  svg {
    fill: black;
  }

  @include hover {
    transform: scale(1.1);
  }

  @include active {
    transform: scale(0.93);
  }
}
