.caseList {
  width: 100%;
  padding-top: 20px;

  &__cases {
    display: flex;
    flex-direction: column;
    position: relative;

    & > * {
      margin-bottom: 48px;
    }

    &[data-can-show-more-cases='false'] {
      padding-bottom: calc(10px - 48px);
    }

    @include mq($from: tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: (0px, 1fr);
      gap: 20px;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      &[data-can-show-more-cases='false'] {
        padding-bottom: calc(110px - 48px);
      }
    }
  }

  &__loadMore {
    margin-top: -48px;
  }
}
