.gutterWrapper {
  --_background-color: var(--background-color, black);

  color: var(--_background-color);
  background-color: var(--_background-color);

  &[data-size='small'] {
    padding: 0 20px;
  }

  &[data-size='medium'] {
  }

  &[data-size='large'] {
  }

  &[data-theme='light'] {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  &[data-theme='dark'] {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
