.nextCasePreview {
  // display: flex;
  // justify-content: center;
  background: black;
  // align-items: center;
  position: relative;
  height: 200vh;
  width: 100%;

  &__container {
    width: 100%;
    // height: fit-content;
    position: relative;
  }

  &__stickyInner {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;

    @include mq($from: desktop-small) {
      min-height: 100vh;
    }

    img {
      border-radius: 0 !important;

      @include mq($from: tablet) {
        height: 100vh;
      }
    }

    video {
      @include mq($from: desktop-small) {
        height: 100vh !important;
      }
    }
  }

  &__description {
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 0 20px 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    p {
      // TODO :: Fix the padding to make them match heights
      padding-bottom: 15px;
    }
  }
}
