@font-face {
  font-family: "FKGroteskNeue-Regular";
  src: url("/fonts/FKGroteskNeue/otf/FKGroteskNeue-Regular.otf"),
    url("/fonts/FKGroteskNeue/ttf/FKGroteskNeue-Regular.ttf"),
    url("/fonts/FKGroteskNeue/woff/FKGroteskNeue-Regular.woff"),
    url("/fonts/FKGroteskNeue/woff2/FKGroteskNeue-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FKGroteskNeue-Bold";
  src: url("/fonts/FKGroteskNeue/otf/FKGroteskNeue-Bold.otf"),
    url("/fonts/FKGroteskNeue/ttf/FKGroteskNeue-Bold.ttf"),
    url("/fonts/FKGroteskNeue/woff/FKGroteskNeue-Bold.woff"),
    url("/fonts/FKGroteskNeue/woff2/FKGroteskNeue-Bold.woff2");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "FKRasterGrotesk-Blended";
  src: url("/fonts/FKRasterGrotesk/otf/FKRasterGrotesk-Blended.otf"),
    url("/fonts/FKRasterGrotesk/ttf/FKRasterGrotesk-Blended.ttf"),
    url("/fonts/FKRasterGrotesk/woff/FKRasterGrotesk-Blended.woff"),
    url("/fonts/FKRasterGrotesk/woff2/FKRasterGrotesk-Blended.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
