@import './base-typography.scss';
@import './variables.scss';

:root {
  --color-white: #ffffff;
  --color-white-80: #ffffff80;
  --color-white-60: #ffffff60;
  --color-white-50: #ffffff50;
  --color-white-30: #ffffff30;

  // Black
  --color-black: #050311;
  --color-black-80: #05031180;
  --color-black-50: #05031150;
  --color-black-25: #05031125;

  // Gray
  --color-dark-gray-70: #2c2b3470;
  --color-gray-60: #868495;
  --color-gray-40: #86849540;
  --color-gray-20: #86849520;

  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-bg-inverted: var(--color-black);
  --color-fg-inverted: var(--color-white);
}

html[data-theme='dark'] {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);
  --color-bg-inverted: var(--color-white);
  --color-fg-inverted: var(--color-black);
}

html[data-theme='light'] {
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-bg-inverted: var(--color-black);
  --color-fg-inverted: var(--color-white);
}

/*
* Foter
*/
:root {
  --footer-height: 375px;
  @include mq($from: tablet) {
    --footer-height: 300px;
  }
}

html,
body,
#__next {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 0.3s, color 0.3s;
}

html,
body {
  overscroll-behavior: none;
}

#__next {
  overflow-x: hidden;
  overflow-y: auto;

  html[data-is-menu-open='true'] & {
    overflow: hidden;
  }

  // If we want to customize the scrollbar (when mouse plugged in..)
  // &::-webkit-scrollbar {
  //   width: 10px;
  //   background: $black;
  //   z-index: 1;
  // }

  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: rgba($color: $white, $alpha: 0.6);
  //   border-radius: 8px;
  // }

  // &::-webkit-scrollbar-thumb:hover {
  //   background: rgba($color: $white, $alpha: 0.7);
  // }
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

.orbitalLink,
#hero-text {
  transition: color 0.4s;
}
