.animate-fade-up > * {
  animation: fade-up 750ms var(--ease) forwards;
}

.animate-image-fade-up > * {
  animation: image-fade-up 500ms ease-out forwards;
}

@keyframes fade-up {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes image-fade-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
