.nav {
  margin-left: auto;
  display: flex;

  & > * {
    margin-left: 24px;
  }

  &__menuModal {
    z-index: 10 !important;
    pointer-events: none !important;
  }

  &__item {
    position: relative;
    opacity: 1;
    transition: opacity 0.1s cubic-bezier(0, 0, 0.6, 1);
    @include BodyRegular;

    &[data-active='true'] {
      opacity: 0.4;
    }

    &[data-active='false'] {
      @include text-underline-hover(var(--color-white));
    }
  }
}
