.nav {
  margin-left: auto;
  display: flex;

  &:not([data-is-touch-device='true']) {
    & > * {
      margin-left: 24px;
    }
  }

  &__item {
    position: relative;
    opacity: 1;
    transition: opacity 0.1s cubic-bezier(0, 0, 0.6, 1);
    @include BodyRegular;

    &[data-active='true'] {
      opacity: 0.4;
    }

    &[data-active='false'] {
      @include text-underline-hover(var(--color-white));
    }
  }
}
