.pageHero {
  width: 100%;
  height: 100%;
  min-height: 100%;
  --nav-height: 80px;
  position: relative;
  margin-top: calc(var(--nav-height) * -1);

  &__titleContainer {
    height: calc(66vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    margin-bottom: 50px;

    @include mq($until: desktop-small) {
      margin-bottom: 32px;
    }
  }

  &__cta {
    margin-top: 40px;
    position: relative;
    color: var(--color-white-60);
    @include text-underline-hover(var(--color-white-60));

    @include mq($until: desktop-small) {
      margin-top: 20px;
    }
  }

  &__imageContainer {
    height: calc(66vh);
    position: relative;
  }

  &__image {
    object-fit: cover;
    border-radius: 0;
  }
}
