.pageHero {
  width: 100%;
  height: 100%;
  min-height: 100%;
  --nav-height: 80px;
  position: relative;
  margin-top: calc(var(--nav-height) * -1);

  &__titleContainer {
    height: calc(66vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    margin-bottom: 50px;

    @include mq($until: desktop-small) {
      margin-bottom: 32px;
    }
  }

  &__cta {
    margin-top: 40px;
    position: relative;
    color: var(--color-white-60);
    @include text-underline-hover(var(--color-white-60));

    @include mq($until: desktop-small) {
      margin-top: 20px;
    }
  }

  &__imageContainer {
    height: calc(66vh);
    position: relative;
  }

  &__image {
    object-fit: cover;
    border-radius: 0;
  }
}

.pageHeroImage {
  $block: &;
  --duration: 1.2s;
  --delay: 0.1s;
  --ease: cubic-bezier(0.19, 0.39, 0, 0.99);
  transition: transform var(--duration) var(--delay) var(--ease);
  transform: translateY(101%);
  position: relative;
  overflow: hidden;

  /** container: shifts up **/
  &[data-show='true'] {
    transform: translateY(0);
  }

  /** inner: shifts down **/
  &__inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform var(--duration) var(--delay) var(--ease);
    transform: translateY(-101%);

    #{$block}[data-show='true'] & {
      transform: translateY(0);
    }
  }

  /** scale: **/
  &__scale {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(1.1);
    transition: transform var(--duration) var(--delay) var(--ease);

    #{$block}[data-show='true'] & {
      transform: scale(1);
    }
  }
}
